<!DOCTYPE html>
<html>
<head>
  <title>The Creator</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

<% if @active_game %>
	<meta name="game-key" content="<%= @active_game.api_key %>">
<% end %>

<meta name="host" content="<%= request.host %>">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar" role="banner"> 
	<div class="container"> 
		<div class="navbar-header"> 
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse"> 
				<span class="sr-only">Toggle navigation</span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
			</button> 
			<a href="../" class="navbar-brand">THE CREATOR<span class="active-section">:Configure</span></a> 
		</div> 
		<% if user_signed_in? %>
		<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation"> 
			<ul class="nav navbar-nav"> 
				<li> 
					<a href="">Sketch</a> 
				</li> 
				<li class="active"> 
					<a href="<%= configure_path %>" <% if params[:controller] == 'configure'%>class="selected" <% end %>>Configure</a> 
				</li> 
				<li> 
				<a href="<%= create_path %>" <% if params[:controller] == 'create'%>class="selected" <% end %>>Create</a> 
				</li> 
				<li> 
					<a href="<%= rules_path %>">Rulebook</a> 
				</li> 
				<li> 
					<a href="/users/sign_out">Logout</a> 
				</li> 
			</ul> 
		</nav> 
		<% end %>
	</div> 
</header>


<%= yield %>


<%= render :partial => 'searches/search_box' %>
<%= javascript_include_tag "application", controller_name, "data-turbolinks-track" => true %>

</body>
</html>
